export(extract_field_from_gencode)
export(mb)
export(reduce2)
export(read_count)
export(genomic_regions_correlation)
export(print.bp)
export(genomicCorr.nintersect)
export(plot_expr_distribution)
export(correlated_regions)
export(genomicCorr.pintersect)
export(chromatin_states_transition_chord_diagram)
export(genomicCorr.jaccard)
export(enriched_heatmap_list_on_gene)
export(add_subtype_specificity)
export(cr_hilbert)
export(genomicCorr.absdist)
export(filter_correlated_regions)
export(extract_sites)
export(correlated_regions_per_gene)
export(logical_segment)
export(bp)
export(heatmap_diff_methylation_in_genomic_features)
export(cr_overlap_to_genomic_features)
export(scatterplot_with_boxplot)
export(common_regions)
export(annotate_to_genomic_features)
export(global_methylation_distribution)
export(wgbs_qcplot)
export(cr_gviz)
export(cr_scatterplot_me)
export(basic_genomic_regions_stat)
export(get_mean_methylation_in_genomic_features)
export(systemdf)
export(cr_qc)
export(normalize_count)
export(methylation_hooks)
export(annotate_to_gene_models)
export(subgroup_specific_genomic_regions)
export(reduce_cr)
export(plot_subgroup_specificity_heatmap)
export(percentOverlaps)
export(cr_enriched_at_tss)
export(kb)
export(plot_coverage_and_methylation_on_genome)
export(compare_meth)
export(enriched_heatmap_list_on_tss_cgi)
export(plot_multiple_samples_methylation_on_genome)
export(genomicCorr.sintersect)
export(genomicCorr.reldist)

import(methods)
import(circlize)
import(GetoptLong)
import(parallel)
import(MASS)
import(RColorbrewer)
import(GenomicFeatures)
import(Gviz)
import(matrixStats)
import(ComplexHeatmap)
import(EnrichedHeatmap)
import(HilbertCurve)
import(gtrellis)
import(ConsensusClusterPlus)
import(GlobalOptions)

